<!DOCTYPE html>
<html lang="en" class="hide-scroll">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
	
    <title>Centro de Ayuda</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../public/stylesheets/ayudaStyle.css">
    <link rel="stylesheet" href="../../public/stylesheets/GeneralStyles.css">
</head>

<body>
    <header>
        <div class="container">
    		<p class="logo"><a href="HomePage.js">Iguamku Cerámica</a></p>
    </header>
    
    <div class="container-img">
        <img src="../../public/images/ayuda.jpg" alt="">
    </div>
    
    <div class="container-text">
        <h2>¿Tiene problemas para ingresar al Portal de Administrador?</h2>
        <h3>Contacte con nuestro Soporte Técnico</h3>
        <p>Llámenos al: +54 9 11 63237088/ 011 4292 9567. De lunes a viernes de 9 a 20 hs y Sábados de 9 a 13 hs.</p> <br />
        <p>Envíenos un mail a: webmaster@iguamku.com</p> 
    </div>

    
<footer>
        <div class="container">
    	   <p>&copy;Iguamkú 2022</p>
        </div>
    </footer>
</body>
</html>