body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}

.form-text a {
    text-decoration: none;
    
}

.carousel-inner {
    max-width: 50%;
    height: 90vh;
}

#cbox1 label {
    padding-top: 10px;
    font-size: 1rem;
}

#form_alta .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



